@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.paymentContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
  overflow: auto;
}
.paymentContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.paymentContainer::-webkit-scrollbar:vertical {
  width:10px;
}

.paymentContainer::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

.paymentContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.paymentContainer::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.paymentContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container{
  display: flex;
  flex-direction: column;
}
.paymentMethodActive, .paymentMethodInactive{
  font-weight: 600;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;

}
.paymentMethodInactive{
  border-left: 4px solid #fff;
}


.paymentMethodActive{
  border-left: 4px solid #02afdf;
  color: #02afdf;

}

.paymentOptionInactive, .paymentOptionActive{
  padding: 0.2rem;
  margin: 0 0.3rem;
  display: flex;
  align-items: center;

}
.paymentOptionActive{
  background-color: rgba(2, 175, 223, 0.1);

}
.cardIcon{
  width: 30px;
  margin-right: 0.2rem;
}
.interestZero{
  color: #a5c306;
}
.interest{
  color: #111;
}
.paymentContainer td{
  text-align: center;
  padding: 0.5rem;
}
.tableHeaders{
  font-weight: 600;
}
@media (min-width: 768px){
.paymentContainer{
    width: 900px;
    flex-direction: row;
}

.container{
  min-height: 700px;
  max-height: 700px;
  flex-direction: row;
}

.paymentOptionsContainer{
  padding-left: 3rem;
  width: 68%;
}
}
